// Colors
$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);

$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);
$white : #fff;
$black: #000;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-normal: 1rem; // 16px
$font-large: 1.125rem // 18px